.button-primary {
	padding: 20px 24px;
	border-radius: 8px;
	border: 2px solid var(--dark-blue);
	background-color: var(--light-salmon);
	font-family: 'Martian Mono';
	font-size: 16px;
	font-weight: 600;
	line-height: 130%;
	letter-spacing: -1px;
}
