@use '../mixins/responsive.scss' as *;

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	width: 100%;
	padding: 20px 24px;
	border-radius: 8px;
	font-family: 'Martian Mono';
	font-size: 16px;
	font-weight: 600;
	line-height: 130%;
	letter-spacing: -1px;

	@include responsive(tablet) {
		font-size: 18px;
	}

	&__primary {
		border: 2px solid var(--dark-blue);
		background-color: var(--light-salmon);
	}

	&__secondary {
		color: var(--white-00);
		border: 2px solid var(--white-00);
		background-color: var(--dark-blue);
	}

	&__arrow--down {
		&::after {
			display: block;
			content: '';
			width: 24px;
			height: 24px;
			background-image: url(./assets/images/icon-arrow-down.svg);
		}
	}

	&__arrow--up {
		&::after {
			display: block;
			content: '';
			width: 24px;
			height: 24px;
			background-image: url(../../assets/images/icon-arrow-up.svg);
		}
	}
}
