@use '../mixins/responsive.scss' as *;

.header {
	padding: 24px 16px 80px 16px;
	margin-bottom: 64px;
	background-color: var(--light-salmon);
	background-image: url(../../assets/images/pattern-light-bg.svg);

	&__img {
		max-width: 190px;
		margin-bottom: 48px;
	}

	@include responsive(tablet) {
		padding: 32px 32px 80px 32px;
	}

	@include responsive(laptop) {
		padding: 32px 135px 80px 135px;
	}
}
