@use '../mixins/responsive.scss' as *;

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 64px;

	@include responsive(laptop) {
		flex-direction: row;
	}

	&__title {
		margin: 0;
		margin-bottom: 24px;
	}

	&__info {
		width: 50%;
		flex-shrink: 0;
	}

	&__text {
		margin: 0;
		margin-bottom: 32px;
	}

	&__btn {
		margin-bottom: 20px;
	}

	&__container {
		max-width: 388px;
	}

	&__img {
		width: 100%;
	}
}
