@use '../mixins/responsive.scss' as *;

.journey {
	position: relative;
	background-color: var(--light-salmon);
	background-image: url(../../assets/images/pattern-light-bg.svg);
	padding: 64px 16px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	overflow: hidden;

	@include responsive(tablet) {
		padding: 80px 32px;
	}

	&::after {
		position: absolute;
		content: '';
		bottom: 0;
		width: 600px;
		height: 600px;
		background-image: url(../../assets/images/pattern-glow.svg);

		@include responsive(tablet) {
			right: -80px;
			width: 850px;
		}
	}

	&__title {
		@include responsive(laptop) {
			text-align: center;
		}
	}

	&__steps {
		display: flex;
		flex-direction: column;
		gap: 32px;

		@include responsive(tablet) {
			gap: 40px;
		}

		@include responsive(laptop) {
			justify-content: space-between;
			flex-direction: row;
			gap: 48px;
		}
	}

	&__step {
		display: flex;
		flex-direction: column;
		gap: 20px;
		z-index: 1;
		max-width: 227px;
	}

	&__number {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid var(--dark-blue);
		border-radius: 4px;
		width: 32px;
		height: 32px;
	}

	&__text {
		margin: 0;
	}

	&__arrow-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__arrow {
		display: none;

		@include responsive(laptop) {
			display: block;
		}
	}
}
