@use '../mixins/responsive.scss' as *;

.main {
	display: flex;
	flex-direction: column;
	padding: 0 16px;
	gap: 64px;

	@include responsive(tablet) {
		padding: 0 32px;
		gap: 80px;
	}

	@include responsive(laptop) {
		padding: 0 135px;
	}
}
