@use '../mixins/responsive.scss' as *;

.section {
	display: flex;
	flex-direction: column;
	gap: 40px;

	@include responsive(laptop) {
		flex-direction: row;
	}

	&__title {
		margin-bottom: 24px;
	}

	&__info {
		@include responsive(laptop) {
			width: 50%;
			flex-shrink: 0;
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__item {
		display: flex;
		flex-direction: row;
		gap: 14px;
	}

	&__rrss {
		display: none;
	}
}
