.text-l {
	color: var(--light-blue);
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: -0.5px;
}

.semi-blod {
	font-weight: 600;
}

.text-m {
	color: var(--dark-blue);
	font-family: 'Martian Mono';
	font-size: 16px;
	font-weight: 600;
	line-height: 130%;
	letter-spacing: -1px;

	@include responsive(tablet) {
		font-size: 18px;
	}
}

.text-s {
	color: var(--light-blue);
	font-family: 'Martian Mono';
	font-size: 14px;
	font-weight: 400;
	line-height: 120%; /* 16.8px */
	letter-spacing: -1px;
}
