:root {
  /* Variables CSS */
  --white-00: #FFFFFF;
  --white-01: #E6E1DF;
  --light-blue: #385159;
  --dark-blue: #062630;
  --light-salmon: #FFF5EF;
  --mid-salmon: #FFE2D1;
  --dark-salmon: #FEA36F;
}

/* Variables SASS */
